@mixin container() {
    width: 90%;
    margin: 0 auto;
}

@mixin row ($repeating){
    display: grid;
    grid-template-columns: repeat($repeating, 1fr);
    grid-gap: 20px;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}